$color-light: rgb(240, 240, 240);
$color-light-xs: rgb(250, 250, 250);
$color-light-s: rgb(232, 232, 241);
$color-light-blue: rgb(230, 240, 245);
$color-dark-s: rgb(187, 187, 187);
$color-dark-m: rgb(89, 89, 92);
$color-dark-l: rgb(47, 47, 71);
$color-dark-xl: rgb(19,18,43);

$HEADER-CONTAINER-WIDTH: 1000px;
$HEADER-CONTAINER-HEIGHT: 70px;
$WIDTH: 90vw;

body {
  background-color: $color-light;
  height: 100%; 
  margin: 0 auto;
  background-image: url('../src/assets/img/background-patio-img.jpg');
  background-attachment: fixed
}
main {
  width: $WIDTH;
  margin: calc($HEADER-CONTAINER-HEIGHT) auto 30px;
  display: flex;
  padding-top: 20px;  
  justify-content: space-around;
}