$color-light: rgb(240, 240, 240);
$color-light-xs: rgb(250, 250, 250);
$color-light-s: rgb(232, 232, 241);
$color-light-blue: rgb(230, 240, 245);
$color-dark-s: rgb(187, 187, 187);
$color-dark-m: rgb(89, 89, 92);
$color-dark-l: rgb(47, 47, 71);
$color-dark-xl: rgb(19,18,43);;

$HEADER_CONTAINER: 1000px;
$WIDTH: 95vw;

$FONT-GILL: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
$FONT-MONOSPASE: monospace;

.aside {
  min-width: 15%;
  max-width: 20%;
  background-color: $color-light-xs;
}
.aside-container {
  padding: 10px;
}
.aside-title {
  font-family: $FONT-GILL;
  padding: 10px 0;
}
.fiitered-item-title {
  font-family: $FONT-MONOSPASE;
  padding-right: 10px;
  min-width: 50px;
}
.filter-type {
  display: flex;
  min-height: 40px;
  align-items: center;
  margin: 15px 0;
  border: $color-light-blue 4px solid;
  border-radius: 5px;
  padding: 5px;
  background-color: $color-light-s;
}
.filter-type li {
  list-style-type: none;
}
.filter-list-button {
  display: flex;
  flex-wrap: wrap;
  
}
.filter-button {
  margin: 5px;
  border-radius: 5px;
  border: none;
  background-color: $color-dark-l;
  color: $color-light-s;
  min-width: 60px;
  height: 25px;
  font-family: $FONT-MONOSPASE;
  cursor: pointer;
  &:hover {
    background-color: $color-dark-m;
  }
}

.MuiSlider-root {
  color: #83adc0;
}

.MuiSlider-root:hover {
  color: #445a83;
}

.MuiSlider-root .MuiSlider-thumb {
  border-radius: 1px;
}
