$color-light: rgb(240, 240, 240);
$color-light-xs: rgb(250, 250, 250);
$color-light-s: rgb(232, 232, 241);
$color-light-blue: rgb(230, 240, 245);
$color-blue: rgb(44, 102, 131);
$color-dark-blue: rgb(11, 71, 100);
$color-dark-s: rgb(187, 187, 187);
$color-dark-m: rgb(89, 89, 92);
$color-dark-l: rgb(47, 47, 71);
$color-dark-xl: rgb(19,18,43);
$color-brown: rgb(94, 81, 66);

$HEADER_CONTAINER: 1000px;
$WIDTH: 95vw;
$CARD-WIDTH: 270px;
$ASIDE-WIDTH: 270px;

$FONT-GILL: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
$FONT-MONOSPASE: monospace;

.aside {
  min-width: $ASIDE-WIDTH;
  max-width: 20%;
  background-color: $color-light-xs;
  border-radius: 5px;
  text-align: center;
  height: max-content;
  padding-bottom: 10px;
  opacity: 0.9;
}
.aside-container {
  padding: 10px;
}
.aside-title {
  font-family: $FONT-GILL;
}
div .sorting-container {
  margin: 6px 10px 0;
}
.fiitered-item-title, .sorting-title {
  font-family: $FONT-MONOSPASE;
  padding-right: 10px;
  min-width: 60px;
}
.filter-type, .sorting-container {
  display: flex;
  min-height: 40px;
  align-items: center;
  margin: 0.46em 0;
  border: $color-light-blue 4px solid;
  border-radius: 5px;
  background-color: $color-light-s;
}
.filter-type li, .sorting-container li {
  list-style-type: none;
}
.filter-list-button {
  display: flex;
  flex-wrap: wrap;
  
}
.filter-button, 
.reset-button, 
.sort-button {
  margin: 5px;
  border-radius: 5px;
  border: none;
  background-color: $color-dark-l;
  color: $color-light-s;
  min-width: 60px;
  min-height: 25px;
  font-family: $FONT-MONOSPASE;
  cursor: pointer;
  &:hover {
    box-shadow: 1px 1px 8px 1px $color-dark-blue;
  }
  .active {
    background-color: $color-blue;
  }
}
.active {
  background-color: $color-blue;
}
.reset-button {
  background-color: $color-brown;
  font-size: 1rem;
}
.MuiSlider-root {
  color: #95b4c2;
}
.MuiSlider-root:hover {
  color: #445a83;
}
.MuiSlider-root .MuiSlider-thumb {
  border-radius: 1px;
}
