$color-light: rgb(240, 240, 240);
$color-light-xs: rgb(250, 250, 250);
$color-light-s: rgb(232, 232, 241);
$color-light-blue: rgb(230, 240, 245);
$color-dark-s: rgb(187, 187, 187);
$color-dark-m: rgb(89, 89, 92);
$color-dark-l: rgb(47, 47, 71);
$color-dark-xl: rgb(19,18,43);

$HEADER_CONTAINER: 1000px;
$WIDTH: 1200px;

$FONT-GILL: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
$FONT-MONOSPASE: monospace;

.logo {
  font-size: 1.5rem;
  color: $color-dark-l;
  text-decoration: none;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.subtitle {
  font-family: monospace;
  font-size: 0.9rem;
}
